@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: white;
}

body {
  padding: 0;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper-button-prev {
  padding: 20px;
  border-radius: 100%;
  opacity: 1;
  background-color: white;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  color: aqua !important;
}

.swiper-button-prev::after{
  font-size: 20px !important;
  font-weight: 600 !important;
}

.swiper-button-next {
  padding: 20px;
  border-radius: 100%;
  opacity: 1;
  background-color: white;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  color: aqua !important;
}

.swiper-button-next::after{
  font-size: 20px !important;
  font-weight: 600 !important;
}

.swiper-pagination {
  bottom: -5px !important;
}

.swiper-pagination-bullet-active {
  background-color: aqua !important;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}